{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="slideshow">
    <img src="{% static 'images/slide1.jpg' %}" alt="Slide 1">
    <img src="{% static 'images/slide2.jpg' %}" alt="Slide 2">
    <img src="{% static 'images/slide3.jpg' %}" alt="Slide 3">
    <img src="{% static 'images/slide4.jpg' %}" alt="Slide 4">
</div>
<p>Welcome to our Makeup Services website. We offer the best in Natural, Glam, Bridal, and HD makeup services. Book your appointment today!</p>
<a href="{% url 'services' %}" class="btn">Book Now</a>
{% endblock %}
