{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container my-5">
    <div class="row align-items-center">
        <!-- Image on the left -->
        <div class="col-md-6">
            <img src="static/images/gallery/about-page/about.JPG" alt="Makeup Image" class="img-fluid rounded shadow">
        </div>
        <!-- Text on the right -->
        <div class="col-md-6">
            <h1>About Us</h1>
            <p class="about-text">
                Touched by Mel was founded out of a profound passion for colour and transformation,
                with a commitment to enhancing each individual's natural beauty. I specialise in 
                crafting bespoke makeup looks that perfectly complement your unique style,
                ensuring you feel confident and radiant for any occasion.
            </p>
        </div>
    </div>
</div>
{% endblock %}