{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="slideshow">
    <img src="{% static '/images/gallery/slide2.JPG' %}" alt="Slide 1">
    <img src="{% static '/images/gallery/slide3.JPG' %}" alt="Slide 2">
    <img src="{% static '/images/gallery/slide4.JPG' %}" alt="Slide 3">
    <img src="{% static '/images/gallery/slide5.JPG' %}" alt="Slide 3">
    <img src="{% static '/images/gallery/slide6.JPG' %}" alt="Slide 3">
    <img src="{% static '/images/gallery/slide8.JPG' %}" alt="Slide 3">
    <img src="{% static '/images/gallery/slide9.JPG' %}" alt="Slide 3">
    <img src="{% static '/images/gallery/slide10.JPG' %}" alt="Slide 3">
</div>

<h3 class="blog-text">ACHIEVE A GLOWING COMPLEXION</h3>
<br>
<p class="about-text">Originally launched in March 2013, Touchedbymel 
    was born to promote confidence in women through natural beauty. This 
    initiative has since evolved into a philanthropic project 
    business. The organisation is dedicated to empowering women who 
    want to be independent and to enter the workforce by harnessing 
    the power of makeup, coaching, and confidence.</p>
<div class="row content justify-content-center">
    <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
<a href="{% url 'services' %}" class="btn">Book Now</a>
</div>
<br>

<h3 class="blog-text">MUA'S GLOW-TO ITEMS THIS SUMMER!</h3>
<br>
<p class="about-text">To help you achieve that flawless summer glow with a soft, 
    dewy, and fresh makeup look, we've curated our top ten 
    must-have MUA products for this season. Even better, they're 
    vegan, cruelty-free, and budget-friendly!</p>

{% endblock %}
