{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="slideshow">
    <img src="{% static '/images/gallery/slide2.JPG' %}" alt="Slide 1">
    <img src="{% static '/images/gallery/slide3.JPG' %}" alt="Slide 2">
    <img src="{% static '/images/gallery/slide4.JPG' %}" alt="Slide 3">
</div>
<h1 class="">ACHIEVE A GLOWING COMPLECTION</h1>
<p>Originally launched in March 2013, the campaign was designed to
    promote confidence in women through natural beauty. This 
    initiative has since evolved into a philanthropic project 
    in partnership with the UK charity, Smart Works. The organisation 
    is dedicated to empowering unemployed women to enter the workforce 
    by harnessing the power of clothing, coaching, and confidence.</p>
<div class="row content justify-content-center">
    <div class="col-sm-6 col-lg-4 col-xl-3 text-center">
<a href="{% url 'services' %}" class="btn">Book Now</a>
</div>
{% endblock %}
